@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-regular.eot'); 
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), 
       url('fonts/open-sans-v15-latin-regular.woff') format('woff'), 
       url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'), 
       url('fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v12-latin-regular.eot'); 
  src: local('Raleway'), local('Raleway-Regular'),
       url('fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/raleway-v12-latin-regular.woff2') format('woff2'), 
       url('fonts/raleway-v12-latin-regular.woff') format('woff'), 
       url('fonts/raleway-v12-latin-regular.ttf') format('truetype'), 
       url('fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); 
}

* {
	box-sizing: border-box;
}

body, html {
	width: 450px;
  height: 100px;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #F4F4F4;
  border-bottom: 1px solid #CACACA;
	width: 100%;
	height: 60px;
	padding: 5px;
	margin: 0;
}

.header span {
	color: #383838;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	display: flex;
	width: 100%;
	height: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.main {
	padding: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.suggestform {
  white-space: pre-line;
}

.hidden {
  display: none;
}

input[type="submit"] {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #545454;
  color: #fff;
  box-shadow: 0 6px #303030;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  margin-top: -10px;
}

input[type="submit"]:hover {
  box-shadow: 0 4px #303030;
  top: 2px;
}

input[type="submit"]:active {
  box-shadow: 0 0 #303030;
  top: 6px;
}

td {
  padding: 3px;
  vertical-align: top;
  font-size: 14px;
}

p {
  margin: 0;
}